.dashed-input {
    border: 1px  #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    flex: 1;
    letter-spacing: 4px;
  }
  
  .view-button {
    margin-top: 12px;
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }